* {
  margin: 0px;
  padding: 0px;
}

.cabecalho {
  margin-top: 5px;
  display: table;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;
}

.w3-metade {
  margin: 4px 0px 6px 0px;
  float: left;
}

.w3-metade-direita {
  margin-top: 16px;
  top: 5px;
  font-family: Arial, sans-serif;
  float: right;
  letter-spacing: 4px;
}

.w3-direita {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 4px;
}

.logo {
  font-family: fontawesome;
  line-height: 1;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
}

.logo .pontocom {
  color: #4CAF50;
  letter-spacing: 3px;
  font-size: 37px;
  line-height: 1;
}

.navbar {
  font-size: 17px;
  background-color: #4CAF50;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  letter-spacing: 4px;
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.5;
}

ul {
  display: block;
}

.navbarbtns {
  float: left;
  font-size: 17px;
  color: #fff;
  letter-spacing: 4px;
  line-height: 1.5;
}

.btn {
  float: right;
  display: block;
  padding: 8px 16px;
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: white;
   -webkit-transition: background-color .3s, color .15s;
   transition: background-color .3s, color .15s;
}

.btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.sidenav {
  height: auto;
  display: block;
  width: 230px;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5
}

.conteiner {
  padding: 0.01em 16px;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

a {
  padding: 0 16px;
  font-size: 16px;
  display: block;
  -webkit-transition: background-color .3s, color .15s;
  transition: background-color .3s, color .15s;
}

a:hover {
  background-color: #ccc;
  cursor: pointer;
}

p:hover {
  cursor: pointer;
}
