body{
  background-image: url("gradient_bg.png");
  background-repeat: repeat-x;
}

article{
  padding: 20px 20px 20px 20px;
  border: 5px;
  margin: 20px;
  border-style: groove;
  border-color: blue;
}

.artigo{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 0.2in;
  border-bottom: 0.2in;
  border-left: 0.2in;
  border-right: 0.2in;
  border-style: dotted;
  border-color: lightblue;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#video{
  padding: 1em 1em 1em 1em;
  border: 0.2in;
  border-style: dashed;
  border-color: green;
  margin: 20px;
}

#form{
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  border-top: 5px;
  border-bottom: 5px;
  border-left: 5px;
  border-right: 5px;
  border-style: solid;
  border-color: lightgreen;
  margin: 20px;
}

p{
  text-align: justify;;
  font-family: sans-serif;
  font-size: 15px;
  color: grey;
}
header{
  font-family: serif;
  text-align: center;
  text-transform: uppercase;
}

nav{
  text-align: center;
}
